body {
  margin: 0px;
  padding: 0px;
  /* scrollbar-width: none; */
  -ms-overflow-style: none; /*removing scroll bar for edge*/
}

body::-webkit-scrollbar {
  display: none;
}

header {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.cover {
  width: 100vw;
  height: 100vh;
}

#coverPic {
  opacity: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: 50% 70%;
  transition: opacity 2s ease-in-out;
}

#coverPic.show {
  opacity: 1;
}

#profilePicSection {
  position: absolute;
  top: 30vw;
  left: 42vw;
}

#profileFrame {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

#profilePic {
  width: 40vw;
  height: 40vw;
  object-fit: cover;
  object-position: 50% 5%;
  position: absolute;
  top: -11vw;
  left: -12vw;
}
